* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  line-height: 1.5;
  color: #0d0b0b;
  background: rgb(234, 234, 240);
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  color: rgb(13, 2, 31);
  line-height: 2.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.mainclass {
  background: rgb(227, 227, 235);
}
.project {
  color: rgb(1, 1, 11);
  line-height: 2.5;
}
.about {
  color: rgb(17, 17, 22);
  line-height: 2.5;
}
.navbar {
  background-color: rgb(234, 234, 240);
  color: #000a0d;
  height: 65px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #0f0101;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  color: #b5c7ed;
}

button {
  padding: 2px 4px;
  margin: 2px 4px;
  font-size: large;
  font-weight: bold;
  background-color: rgb(241, 243, 244);
  /* border-radius: 10px;
  border-width: 0px; */
}

button:hover {
  color: white;
  background-color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  animation: fadeIn 1s ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
}

a {
  animation: fadeIn 1s ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
}

/* VIEW MY PORTFOLIO 네모 안에 넣기 */
.portpolio-link {
  display: inline-block;
  padding: 3px 6px;
  border: 2px solid #454444; /* 테두리 설정 */
  background-color: #4e4e4e; /* 배경색 설정 */
  color: #e8e5ec; /* 텍스트 색상 */

  font-weight: bold; /* 글자 굵게 */
  transition: background-color 0.1s ease; /* 마우스 오버 애니메이션 */
}

.portpolio-link:hover {
  background-color: #0d0000; /* 마우스 오버 시 배경색 변경 */
}

/* .box 클래스에 네모 박스 스타일 적용 */
.box {
  border: 2px solid #000; /* 테두리 설정 */
  padding: 20px; /* 내부 여백 설정 */
  margin-bottom: 20px; /* 네모 박스 사이 여백 설정 */
  background-color: #f9f9f9; /* 배경색 설정 */
  border-radius: 8px; /* 모서리를 둥글게 */
}

.box img {
  display: block;
  margin-top: 10px;
}
